/* global variables */ 
:root {
  --green: #13713E; 
  --fontSmall: 1.5vw; 
  --fontMedium: 1.8vw; 
  --fontLarge: 6vw; 
}
  /* getting rid of standard margin & padding */
  * {
    margin: 0; 
    padding: 0; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  /* css rules for the whole document */ 
  body {
    background: white;
  }

  h1 {
    font-size: var(--fontLarge);
  }

  h2 {
    font-size: var(--fontMedium);
    font-weight: lighter;
  }

  h3 {
    font-size: var(--fontSmall);
    font-weight: lighter;
  }


  /* specific css for header */
  header {
    height: min-content; 
    display: flex;
  }
  .heading {
    padding-left: 5vw; padding-top: 5vw; 
  }
  header img {
    position: initial;
    height: 12vw;
    padding-left: 6vw; padding-top: 4vw; 
  }

  /* div around the table */
  .time-display {
    display: flex;
    padding-top: 5vh; padding-left: 5vh; padding-right: 5vh;
    margin-left: 10px;
  }
  /* the whole table */ 
  .table {
    flex: 1; 
    position: relative; 
  }
  /* the table header */
  .time-display th {
    position: sticky; 
    top: 0;  /* required for stickyness */ 
    font-size: var(--fontMedium);
    background-color: white;
    border-bottom: 3px solid;
    width: 100vh;
    text-align: left;
    padding-left: 1vw;
  }
  /* for every row */ 
  .time-display td {
    padding-left: 1vw;
    border-bottom: 1px solid gray; 
    font-size: var(--fontMedium);
  }

  /* css for the footer part */
  .footer {
    margin: 5vw 0 5vw 5vw; 
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .footer h3 {
    flex: 1;
  }

  #twodose_col
  {
    border: 5px solid yellow; 
    border-bottom: 3px solid; 
  }
  #twodose_day
  {
    border-left: 5px solid yellow; 
    border-right: 5px solid yellow;

  }
