<html>

<head>
  <link rel="stylesheet" href='/static/css/main.css' />

  <script>
    function getIndex() {
      return document.getElementById("country-dropdown").selectedIndex;
    }

  </script>

</head>

<body>
  <header>
    <div class="heading">
      <h1>herd-immunity</h1>
      <h2>calculate when your country has reached herd immunity</h2>
    </div>
    <!-- <img src="../images/undraw_connected_world_wuay.svg" alt="a svg showing a map"> -->
  </header>

  <div class="time-display">
    <!-- {%- for row in data %}
	        <li>{{row[0]}}</li>
	        <li>{{row[1]}}</li>
	    {%- endfor %} -->
    <select name="countries" id="country-dropdown">
      {% for row in data %}
      <option value="{{row[0]}}">{{row[0]}}</option>
      {% endfor %}
    </select>


    <button>calculate</button>
    <h1>{%print(data[20][1]) %} days</h1>

  </div>

  <div class="footer">
    <h3>herd-immunity gets data from <a href="https://github.com/owid/covid-19-data/tree/master/public/data"
        target="_blank">here</a>
      and calculates 14 day average of daily vaccinations <br>
      link to opensource code <a href="https://github.com/szelesaron/herd-immunity" target="_blank">here</a></h3>
  </div>
</body>

</html>