<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href='/static/css/main.css' />

  <script type="text/javascript" src="{{ url_for('static', filename = 'script.js') }}"></script>
  <!-- for testing: 
    <script type="text/javascript" src="../static/script.js"></script> -->
</head>

<body>
  <header>
    <div class="heading">
      <h1>Covid-19 herd immunity</h1>
      <h2>Find out how many days it takes until your country reaches covid-19 herd immunity</h2>
      <h3>Updated at x every day</h3>
    </div>
    <img src="{{ url_for('static', filename = 'images/undraw_connected_world_wuay.svg') }}" alt="a svg showing a map">
    <!-- for testing: 
      <img src="../static/images/undraw_connected_world_wuay.svg" alt="a svg showing a map"> -->
  </header>

  <div class="time-display">
    <table id="table">
      <table id="table">
        <tr>
          <th>Country</th>
          <th>Daily Average Vaccinations</th>
          <th>70% of first doses received</th>
          <th>70% of second doses received</th>
          <th>Last updated</th>
        </tr>

        <!-- {%- for row in data %} -->
        <tr>
          <td id="col">{{row[0]}}</td>
          <td id="col">{{row[1]}}</td>
          <td id="col">{{row[2]}} days</td>
          <td id="col">{{row[3]}} days</td>
          <td id="col">{{row[4]}}</td>
        </tr>
        <!-- {%- endfor %} -->
      </table>
  </div>

  <div class="footer">
    <h3>
      herd-immunity gets data from <a target="blank"
        href="https://github.com/owid/covid-19-data/tree/master/public/data">here</a>
      and calculates 14 day average of daily vaccinations
    </h3>
    <h3>
      link to opensource code <a target="blank" href="https://github.com/szelesaron/herd-immunity">here</a>
    </h3>
  </div>

</body>

</html>