<!DOCTYPE html>
<html lang="en">

<head>
    <title>Herd Immunity</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/jpg" href="../static/images/circle-cropped.png"/>
    <link rel="stylesheet" href='/static/css/mobile.css' />
</head>

<body>
    <header>
        <div class="heading">
            <h1>Covid-19 herd immunity</h1>
            <h2>Find out how many days it takes until your country reaches covid-19 herd immunity.</h2>
            <br>
            <h3>Updated at 12:00 (London Time) every day.</h3>
        </div>
        <img src="{{ url_for('static', filename = 'images/undraw_connected_world_wuay.svg') }}"
            alt="a svg showing a map">
        <!-- for testing: 
            <img src="../static/images/undraw_connected_world_wuay.svg" alt="a svg showing a map"> -->
    </header>

    <div class="time-display">
        <table id="table">
            <table id="table">
                <tr>
                    <th>Country</th>
                      <th>70% receive first dose in</th>
                      <th id="twodose_col">70% receive second dose in</th>
                </tr>

                <!-- {%- for row in data %} -->
                <tr>
                    <td>{{row[0]}}</td>
                    <td>{{row[2]}} days</td>
                    <td id="twodose_day">{{row[3]}} days</td>
                </tr>
                <!-- {%- endfor %} -->
            </table>
    </div>

  <div class="footer">
    <h3>
      Days are calculated using the 14 day moving average of first and second doses given. 
      These values may be drastically different as some countries are focusing on giving first doses. 
    </h3>
    <h3>
      Data is provided by <a target="blank"
        href="https://github.com/owid/covid-19-data/tree/master/public/data">OWD.</a>
    </h3>
    <h3>
      Link to opensource code and documentation is <a target="blank" href="https://github.com/szelesaron/herd-immunity">here</a>
    </h3>
  </div>

</body>

</html>